body {
  font-family: 'Arial', sans-serif;
  padding: 0px;
}

#contactInfo {
  margin: 0;
  margin-left: 0;
  background-color: #2a5baa;
  position: fixed;
  left: 0;
  top: 0;
  height: 16rem;
  width: 100%;
  padding-left: 2rem;
  z-index: 201;
}
#contactInfo a { color: khaki}
.email #eAddress {
  display: inline-block;
}

.contactInfo img {
  height: 18px;
  width: 24px
}

/* desktop/laptop screen */
@media only screen and (min-width: 1080px) {
  nav, .Narrow, .narrowContact {
    display: none;
    /* visibility: hidden; */
  }
  #contactInfo{
    height: 25vh;
    width: 100%;
    text-align: center;
    overflow-y: auto;
  }
  .gridContainer{
    line-height: 0;
  }
  .gridContainer>div{
    height: 30px;
  }
}
@media only screen and (max-width: 1079px){
  .Wide, .gridContainer{display: none;}
}

/* wider width setting */
@media only screen and (min-width: 550px) {
  #btnLinksToggle{display: none;}
  #linkStaticMenu{display: block;}
  #linkDropDown{display: none;}
  .nav-link{
    display: inline-block;
    text-decoration: none;
    font-size: 0.75rem;
    color: white;
    border-right: 1px solid white;
    padding: 0 0.21rem 0 0.2rem;
    margin-top: 0.75rem;
  }
  .nav-link:last-child{
    border: none;
  }
  nav{ height: 3rem;}
}

/* narrowest settting */
@media only screen and (max-width: 550px) {
  #btnLinksToggle{
    display: inline-block;
    padding-top: 0.5rem;
    border: none;
  }
  #linkStaticMenu{display: none;}
  #linkDropDown{display: block;}
  .Narrow{display: block;}
  .nav-link {
    display: block;
    text-decoration: none;
    line-height: 1.5rem;
    color: white;
  }
}

nav {
  background-color: #4BA37D;
  position: fixed;
  left: 0;
  top: 16rem;
  width: 100%;
  height: 3rem;
  z-index: 200;
}

.anchor{
  display: block;
  visibility: hidden;
  position: relative;
  top: -20rem;
}

.clear {
  clear: both;
}

h2 {
  display: inline-block;
}

.c100.small {
  font-size: 3rem;
}

img, .fa {
  margin-left: 0.5rem;
}

.Narrow{
  z-index: 0;
  position: relative;
  top: 20rem;
}

.Wide{
  z-index: 0;
  position: relative;
  top: 20rem;
}
.Wide>div{
  display: inline-block;
}
#sideBar{
  position: fixed;
  left: 0;
  top: 25vh;
  height: 75vh;
  width: 25%;
  overflow-y: auto;
  background-color: rgba(193, 212, 23, 0.472);
}

#mainContents{
  position: fixed;
  left: 25%;
  top: 25vh;
  width: 75%;
  height: 75vh;
  overflow-y: scroll;
  background-color: white;
}

#ProgExp h3, h4{
  margin-bottom: 0;
}
#OtherExp h3, h4{
  margin-bottom: 0;
}
